span {
    position: absolute;
    font-size: 0.35em;
    color: black;
    animation-duration: 2s;
    animation-name: float-fadeout;
    transform: translateY(var(--transY));
}

@keyframes float-fadeout {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(-200px);
        opacity: 0;
    }
}